# Ignoriere
pandoc
*~
*.aux
*.bbl
*.bcf
*.blg
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.pdf
*.swp
BierWerk.epub
BierWerk.html
BierWerk.md
BierWerk.out
BierWerk.run.xml
BierWerk.tex
*.toc

**/*.sla
.gittoken

Archiv/
BierWerk-epub/
Dokumentation/
Inkscape/**/*.pdf
Inkscape/**/*.png
Literatur/
Test/
